@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Quản lý sản phẩm</h2>
<table width="100%" border="0" align="center" cellpadding="10">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created At</th>
            <th>image</th>
            <th>Action</th>
        </tr>
        <hr/>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Bùi Tiến Anh</td>
            <td>10.000.000</td>
            <td>13-12-2003</td>
            <td>image</td>
            <td>View</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Product 2</td>
            <td>10.000.000</td>
            <td>13-12-2003</td>
            <td>image</td>
            <td>View</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Product3</td>
            <td>10.000.000</td>
            <td>13-12-2003</td>
            <td>image</td>
            <td>View</td>
        </tr>
    </tbody>
</table>
<!-- BEGIN: footer -->
<footer>
    <div class="container">
        <div class="infor">
            <div class="title">
                THÔNG TIN CHUNG
            </div>
            <ul class="list-infor">
                <li style="font-size: 1.2rem; font-family:'font-medium' ;"></i>CÔNG TY THHH HOANG HOAN</li>
                <li><i class="fa-solid fa-phone"></i>&nbsp;0828345288</li>
                <li><i class="fa-solid fa-envelope"></i>&nbsp;tienanh@gmail.com</li>
                <li><i class="fa-solid fa-location-dot"></i> &nbsp;Chiêm hóa, Tuyên Quang</li>
            </ul>
        </div>
        <div class="about-us">
            <div class="title">
                VỀ CHÚNG TÔI
            </div>
            <ul class="list-pages">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">sản phẩm</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Đối tác</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>
        <div class="contact">
            <div class="title">
                KẾT NỐI VỚI CHÚNG TÔI
            </div>
            <ul>
                <li>
                    <div>
                        <img src="/images/facebook.png" alt="">
                    </div>
                    <div>
                        <img src="/images/zalo.png" alt="">
                    </div>
                    <div>
                        <img src="/images/mail.png" alt="">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/images/xacnhan-bocongthong.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- END: footer -->