.clearfix{
    clear: both;
    overflow: hidden;
}
#main ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#main ul li{
    float: left;
    margin-right: 5px;
}
#main ul li a {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-top: solid 1px #ccc;
    padding: 8px 20px;
    display: block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-decoration: none;
    background: #d2d3d5;
    color: #000;
}
.selected{
    border-bottom: solid 1px #fff;
    background: #782a90 !important;
    color: #fff !important;
}
#content{
    border: solid 1px #ccc;
    width: 500px;
    height: 300px;
    margin-top: -1px;
    padding: 5px 10px;
}