*{
    margin: 0;
    padding: 0;
}
html,body{
    font-size: 14px;
    /* font-family: "Muli-Regular"; */
}
.logo{
    margin-left: 5rem;
}
nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    
}
nav ul{
    display: flex;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}
nav a{
    text-decoration: none;
    padding: 1rem 1rem;
    margin-right: 5rem;
    color: black;
    font-size: 20px;
}
.d-flex{
    display: flex;
    margin-top: 30px;
    font-size: 17px;
}
 #banner-index h1{
    font-family: "SVN-ArtfulBeauty";
    font-size: 6rem;
    color: #43782b;
    font-weight: normal;
}