<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/Css/font.css">
    <link rel="stylesheet" href="/Css/index.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/Pictures/logoindex.png" alt="" style="width: 80%;">
            </div>
            <ul class="menu">
                <li class="menu-item"><a href="#">TRANG CHỦ</a></li>
                <li class="menu-item"><a href="#">GIỚI THIỆU</a></li>
                <li class="menu-item"><a href="#">SẢN PHẨM</a></li>
                <li class="menu-item"><a href="#">TIN TỨC</a></li>
                <li class="menu-item"><a href="#">LIÊN HỆ</a></li>     
            </ul>
        </nav>
    </header>
    <main>
         <!-- BEGIN: BANNER -->
     <section class="banner">
        <div class="container">
            <div class="banner-box">
                <div class="banner-item" >
                    <div class="banner-img">
                        <img src="/Pictures/trang-chu/backBanner.png" alt="">
                    </div>
                        <div class="introduction">
                            <h2 style="color: #2c2e53;">ACATEA</h2>
                        <h2 style="color: #69922b;">Trà thảo dược - Nâng tầm cuộc sống</h2>
                        <p>
                            Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát 
                            của trà thảo dược và vị đậm đà của trà cúc chi và 
                            đông trùng hạ thảo.
                        </p>
                        <button>THỬ NGAY</button>
                    </div>
               </div>

                <div class="banner-item" >
                    <div class="banner-img">
                        <img src="/Pictures/trang-chu/backBanner.png" alt="">
                    </div>
                        <div class="introduction">
                            <h2 style="color: #2c2e53;">ACATEA</h2>
                        <h2 style="color: #69922b;">Trà thảo dược - Nâng tầm cuộc sống</h2>
                        <p>
                            Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát 
                            của trà thảo dược và vị đậm đà của trà cúc chi và 
                            đông trùng hạ thảo.
                        </p>
                        <button>THỬ NGAY</button>
                    </div>
               </div>

                <div class="banner-item" >
                    <div class="banner-img">
                        <img src="/Pictures/trang-chu/backBanner.png" alt="">
                    </div>
                        <div class="introduction">
                            <h2 style="color: #2c2e53;">ACATEA</h2>
                        <h2 style="color: #69922b;">Trà thảo dược - Nâng tầm cuộc sống</h2>
                        <p>
                            Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát 
                            của trà thảo dược và vị đậm đà của trà cúc chi và 
                            đông trùng hạ thảo.
                        </p>
                        <button>THỬ NGAY</button>
                    </div>
               </div>
            </div>
            
        </div>
    </section>
    <!-- END: BANNER -->
    <!-- BEGIN:PRODUCT  -->
    <section class="product">
        <div class="container">
            <div class="product-hot">
                <div class="title">
                 <h1>SẢN PHẨM NỔI BẬT</h1>
                </div>
                 <div class=" slide-product" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>    
                     <div class="product-item">
                         <img src="/Pictures/product/11_1_ HN tia.png" alt="">
                         <h3>TINH DẦU HƯƠNG NHƯ TÍA</h3>                   
                     </div>                    
                     <div class="product-item">
                         <img src="/Pictures/product/11_3_ Muiga.png" alt="">
                         <h3>TINH DẦU MÙI GÀ</h3>                      
                     </div>      

                     <div class="product-item">
                         <img src="/Pictures/product/11_4_ Bac ha.png" alt="">
                         <h3>TINH DẦU BẠC HÀ</h3>                    
                     </div>                    
                     <div class="product-item">
                         <img src="/Pictures/product/11_6_ vo Buoi(1).png" alt="">
                         <h3>TINH DẦU VỎ BƯỞI</h3>                       
                     </div>  

                     <div class="product-item">
                         <img src="/Pictures/product/3_ Hop tra cam lanh.png" alt="">
                         <h3>TRÀ HỖ TRỢ CẢM LẠNH VÀ COVID</h3>
                     </div>  
                                      
                 </div>
             </div>
        </div>
    </section>
<!-- END:PRODUCT  -->
    <section class="introduce">
        <div class="container">
            <h2>GIỚI THIỆU</h2>
            <div class="introduce-box">
                <div class="introduce-img">
                    <img src="/Pictures/trang-chu/background2.png" alt="">
                </div>
                <div class="introduce-content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi est enim eveniet velit esse cupiditate,
                       neque molestiae veniam cumque cum nesciunt ipsam maiores mollitia provident dolores, laboriosam ut, modi dolor!
                    </p>
                    <button>ĐỌC THÊM</button>
                </div>
            </div>
        </div>
     <!-- BEGIN contact -->
     <section class="contact">
        <div class="container">
            
            <div class="title">
             
                <h3>MUA NGAY</h3>
            </div>

            <div class="form">
                <div class="input">
                    <input type="text" placeholder="Email/Số điện thoại">
                    <button type="Submit">Gửi</button>
                </div>
            </div>
        </div>
    </section>
    <!-- BEGIN contact -->
     <!-- BEGIN: footer -->
     <footer>
        <div class="container">
            <div class="infor">
                <div class="title">
                    THÔNG TIN CHUNG
                </div>
                <ul class="list-infor">
                    <li style="font-size: 1.2rem; font-family:'font-medium' ;"></i>CÔNG TY THHH HOANG HOAN</li>
                    <li><i class="fa-solid fa-phone"></i>&nbsp;0828345288</li>
                    <li><i class="fa-solid fa-envelope"></i>&nbsp;tienanh@gmail.com</li>
                    <li><i class="fa-solid fa-location-dot"></i> &nbsp;Chiêm hóa, Tuyên Quang</li>
                </ul>
            </div>
            <div class="about-us">
                <div class="title">
                    VỀ CHÚNG TÔI         
                </div>
                <ul class="list-pages">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">sản phẩm</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Đối tác</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="title">
                   KẾT NỐI VỚI CHÚNG TÔI
                </div>
                <ul>
                    <li>
                        <div>
                            <img src="/images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="/images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="/images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
     <!-- END: footer -->
</main>
     <!-- slick -->
     <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
     <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
     <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
     <script>
      
      $(".banner-box").slick({
            dots: true,
            infinite: true,
            autoplay: true,
            autoplaySpeed: 2000,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false, 
        });
        $(document).ready(function(){
            $('.slide-product').slick();
           
        });
        new WOW().init();
    
         function handleclickMenu(){
             document.querySelector(".menu").classList.toggle("responsive-menu")
         }
     </script>
</body>
</html>