

        <!-- BEGIN: BANNER -->
        <section class="banner">
            <div class="containers">
                <div class="banner-img">
                    <img src="/Image/Banner/" alt="" class="w-100">
                </div>
                <div class="introduction ">
                    <h1 style="color: #2c2e53;">THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM</h1>
                    <h1 style="color: #bd945f;">HOÀNG HOAN</h1>
                    <p>
                        Sứ mệnh của chúng tôi là kết hợp hài hòa giữa ý tưởng và mong muốn của khách hàng, đem lại những phút giây thư giãn tuyệt vời bên gia đình và những người thân yêu
                    </p>
                    <button>LIÊN HỆ NGAY</button>
                </div>
            </div>
        </section>
        <!-- END: BANNER -->
