<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/contact/contact.css">
    <link rel="stylesheet" href="/css/contact/contact_reponsive.css">
</head>
<body>
    <section class="contact"> 
        <div class="container">
            <div class="contact-box">
                <div class="contact-common">
                    <div class="contact-img">
                        <img src="/images/san-pham-noi-bat/sp-1.jpg" alt="">
                    </div>
                        <div class="contact-input">
                            <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                            <input type="text" placeholder="Họ tên" name="name">
                            <input type="text" placeholder="Email" name="email">
                            <input type="text" placeholder="Số điện thoại" name="phone">
                            <input type="text" placeholder="Nội dung" name="content"><br>    
                            <button>Gửi</button>
                        </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>