<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!-- BEGIN: HEADER -->
    <header>
        <nav>
            <div class="logo">
                <img src="/images/logo.png" alt="" style="width: 80%;">
            </div>
            <ul class="menu">
                <li class="menu-item"><a href="#">TRANG CHỦ</a></li>
                <li class="menu-item"><a href="#">GIỚI THIỆU</a></li>
                <li class="menu-item"><a href="#">SẢN PHẨM</a></li>
                <li class="menu-item"><a href="#">TIN TỨC</a></li>
                <li class="menu-item"><a href="#">ĐỐI TÁC</a></li>
                <li class="menu-item"><a href="#">LIÊN HỆ</a></li>     
            </ul>
        </nav>
    </header>
    <!-- END: HEADER -->

    <main>
         <!-- BEGIN: BANNER -->
        <section class="banner">
            <div class="container">
                <div class="banner-img">
                    <img src="/images/banner.png" alt="">
                </div>
                <div class="introduction">
                    <h1 style="color: #2c2e53;">THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM</h1>
                    <h1 style="color: #bd945f;">HOÀNG HOAN</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi est enim eveniet velit esse cupiditate,
                       neque molestiae veniam cumque cum nesciunt ipsam maiores mollitia provident dolores, laboriosam ut, modi dolor!
                    </p>
                    <button>LIÊN HỆ NGAY</button>
                </div>
            </div>
        </section>
        <!-- END: BANNER -->
        <!-- BEGIN:PRODUCT -->
        <section class="product">
            <div class="container">
                <div class="category">      
                        
                            <div class="slider">
                                <img src="/images/loai-sp/icon-phong-khach.png" alt="">
                                <p>Phòng khách</p>
                            </div>
                            <div class="slider">
                                <img src="/images/loai-sp/icon-phong-ngu.png" alt="">
                                <p>Phòng ngủ</p>
                            </div>
                            <div class="slider">
                                <img src="/images/loai-sp/icon-phong-bep.png" alt="">
                                <p>Phòng bếp</p>
                            </div>
                            <div class="slider">
                                <img src="/images/loai-sp/icon-phong-tam.png" alt="">
                                <p>Phòng tắm</p>
                            </div>
                            <div class="slider">
                                <img src="/images/loai-sp/icon-cau-thang.png" alt="">
                                <p>Phòng tắm</p>
                            </div>
                            <div class="slider">
                                <img src="/images/loai-sp/icon-do-trang-tri.png" alt="">
                                <p>Phòng tắm</p>
                            </div>
                            <div class="slider">
                                <img src="/images/loai-sp/icon-tre-em.png" alt="">
                                <p>Phòng tắm</p>
                            </div>
                            <div class="slider">
                                <img src="/images/loai-sp/icon-van-phong.png" alt="">
                                <p>Phòng tắm</p>
                            </div>
                        
                    </div>
                <div class="product-hot">
                   <div class="title">
                    <h1>SẢN PHẨM NỔI BẬT</h1>
                   </div>
                    <div class="product-box">
                        <div class="product-item">
                            <img src="/images/san-pham-noi-bat/giuong-ngu.png" alt="">
                            <h3>GIƯỜNG CHÂU ÂU</h3>
                            <div class="stars">
                                <input class="star star-5" id="star-5" type="radio" name="star"/>
                                <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" type="radio" name="star"/>
                                <label class="star star-4" for="star-4"></label>
                                <input class="star star-3" id="star-3" type="radio" name="star"/>
                                <label class="star star-3" for="star-3"></label>
                                <input class="star star-2" id="star-2" type="radio" name="star"/>
                                <label class="star star-2" for="star-2"></label>
                                <input class="star star-1" id="star-1" type="radio" name="star"/>
                                <label class="star star-1" for="star-1"></label>
                            </div>
                            <p>(Size lớn trắng sữa)</p>
                        </div>                    
                        <div class="product-item">
                            <img src="/images/san-pham-noi-bat/giuong-ngu.png" alt="">
                            <h3>GIƯỜNG CHÂU ÂU</h3>
                            <div class="stars">
                                <input class="star star-5" id="star-5" type="radio" name="star"/>
                                <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" type="radio" name="star"/>
                                <label class="star star-4" for="star-4"></label>
                                <input class="star star-3" id="star-3" type="radio" name="star"/>
                                <label class="star star-3" for="star-3"></label>
                                <input class="star star-2" id="star-2" type="radio" name="star"/>
                                <label class="star star-2" for="star-2"></label>
                                <input class="star star-1" id="star-1" type="radio" name="star"/>
                                <label class="star star-1" for="star-1"></label>
                            </div>
                            <p>(Size lớn trắng sữa)</p>
                        </div>                    
                        <div class="product-item">
                            <img src="/images/san-pham-noi-bat/giuong-ngu.png" alt="">
                            <h3>GIƯỜNG CHÂU ÂU</h3>
                            <div class="stars">
                                <input class="star star-5" id="star-5" type="radio" name="star"/>
                                <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" type="radio" name="star"/>
                                <label class="star star-4" for="star-4"></label>
                                <input class="star star-3" id="star-3" type="radio" name="star"/>
                                <label class="star star-3" for="star-3"></label>
                                <input class="star star-2" id="star-2" type="radio" name="star"/>
                                <label class="star star-2" for="star-2"></label>
                                <input class="star star-1" id="star-1" type="radio" name="star"/>
                                <label class="star star-1" for="star-1"></label>
                            </div>
                            <p>(Size lớn trắng sữa)</p>
                        </div>                    
                        <div class="product-item">
                            <img src="/images/san-pham-noi-bat/giuong-ngu.png" alt="">
                            <h3>GIƯỜNG CHÂU ÂU</h3>
                            <div class="stars">
                                <input class="star star-5" id="star-5" type="radio" name="star"/>
                                <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" type="radio" name="star"/>
                                <label class="star star-4" for="star-4"></label>
                                <input class="star star-3" id="star-3" type="radio" name="star"/>
                                <label class="star star-3" for="star-3"></label>
                                <input class="star star-2" id="star-2" type="radio" name="star"/>
                                <label class="star star-2" for="star-2"></label>
                                <input class="star star-1" id="star-1" type="radio" name="star"/>
                                <label class="star star-1" for="star-1"></label>
                            </div>
                            <p>(Size lớn trắng sữa)</p>
                        </div>                    
                    </div>
                </div>
            </div>
        </section>
<!-- END:PRODUCT -->

<!-- BEGIN:ABOUT-US -->
        <section class="about-us">
            <div class="backgourd-about">
            </div>
            <div class="container">
                <h2>VỀ CHÚNG TÔI</h2>
                <div class="about-cc">
                    <div class="ccabout">   
                        <div class="img-we-one">
                            <img src="/images/ve-chung-toi/ve-chung-toi.jpg" alt="">
                        </div>
                        <div class="about-content">
                            <p>NỘI THẤT <span style="font-family:'font-ultra' ;color: #fff;"> HOÀNG HOAN</span> <br>
                                UY TÍN SONG HÀNH CHẤT LƯỢNG
                                <br><br>
                                Nội thất hoàng hoan chúng tôi tự hào là đứa con tinh thần ra đời sau hơn 30 năm
                                hoạt dộng trong lĩnh vực kinh doanh đồ gỗ nội thất với thương hiệu ĐỒ GỖ HOÀNG HOANG
                                nổi tiếng.
                                <br><br>
                                Tài nguyên của chúng tôi là đội ngũ kiến trúc sư tốt nghiệp ĐH với nhiểu năm kinh
                                nghiệm, luôn tràn đầy nhiệt huyết và sức sáng tạo của tuổi trẻ. Thế mạnh của chúng
                                tôi là sở hữu xưởng nội thất hơn 10.000m2 tại Hà Nội sản xuất đa dạng các sản phẩm
                                với giá cả luôn cạnh tranh.
                                <br>
                            </p> 
                            <div class="about--list-img">
                                <div class="img-we-img">
                                    <img src="/images/ve-chung-toi/ve-chung-toi-1.jpg" alt="">
                                </div>
                                <div class="img-we-img">
                                    <img src="/images/ve-chung-toi/ve-chung-toi-2.jpg" alt="">
                                </div>
                                <div class="img-we-img">
                                    <img src="/images/ve-chung-toi/ve-chung-toi-3.jpg" alt="">
                                </div>
                                <div class="img-we-img">
                                    <img src="/images/ve-chung-toi/ve-chung-toi-4.jpg " alt="">
                                </div>      
                            </div>            
                      </div> 
                  </div>          
                </div>
                <h2>TẠI SAO NÊN CHỌN HOÀNG HOAN</h2>
                <!-- BEGIN:WHY (SAI)-->
                <!-- <div>
                   <ul class="wecome-list">
                        <div class="list_frist">
                            <div class="frist_item">
                                <li class="wecome--list-item">     
                                    <div class="conten">
                                        <img src="/images/ve-chung-toi/chinh-sach.jpg" alt="">
                                        <p><span class="content_letter">CHÍNH SÁCH GIÁ</span> <br>
                                           Tốt nhất và công khai giá trên website</p>
                                    </div>
                                </li>
                            </div>
                            <div class="secont_item">
                                <li class="wecome--list-item">     
                                    <div class="conten">
                                        <img src="/images/ve-chung-toi/san-pham.jpg" alt="">
                                        <p><span class="content_letter">SẢN XUẤT</span> <br>
                                           Trực tiếp sản xuất bởi đội ngũ nhân viên hàng đầu</p>
                                    </div>
                                </li>
                            </div>
                        </div>
                       <div class="list_secont">
                        <div class="frist_item">
                            <li class="wecome--list-item">     
                                <div class="conten">
                                    <img src="/images/ve-chung-toi/chat-luong.jpg" alt="">
                                    <p><span class="content_letter">CHẤT LƯỢNG</span> <br>
                                       Cam kết chất lượng sản phẩm và tiến độ thi công</p>
                                </div>
                            </li>
                        </div>
                        <div class="secont_item">
                            <li class="wecome--list-item">     
                                <div class="conten">
                                    <img src="/images/ve-chung-toi/bao-hanh.jpg" alt="">
                                    <p><span class="content_letter">BẢO HÀNH</span><br>
                                       Dịch vụ bảo hành sản phẩm tốt nhất khu vực</p>
                                </div>
                            </li>
                        </div>
                       </div>     
                   </ul>
                </div> -->
                <!-- END:WHY (SAI)-->

                <!-- BEGIN:WHY-->
                <div>
                    <div class="why">
                        <div class="why_item">
                           <div class="why_img">
                                <img src="/images/ve-chung-toi/chinh-sach.jpg" alt="">
                                <div class="why_content">
                                    <p> <span>CHÍNH SÁCH GIÁ</span><br>
                                        Tốt nhất và công khai giá trên website</p>
                                   </div>
                           </div>
                           
                        </div>

                        <div class="why_item">
                           <div class="why_img">
                                <img src="/images/ve-chung-toi/san-pham.jpg" alt="">
                                <div class="why_content">
                                    <p> <span>SẢN XUẤT</span><br>
                                        Trực tiếp sản suất bởi đội ngũ nhân viên hàng đầu</p>
                                   </div>
                           </div>
                           
                        </div>

                        <div class="why_item">
                           <div class="why_img">
                                <img src="/images/ve-chung-toi/san-pham.jpg" alt="">
                                <div class="why_content">
                                    <p> <span>CHẤT LƯỢNG</span><br>
                                        Cam kết chất lượng sản phâm và tiến độ thi công</p>
                                   </div>
                           </div>
                          
                        </div>

                        <div class="why_item">
                           <div class="why_img">
                                <img src="/images/ve-chung-toi/chat-luong.jpg" alt="">
                                <div class="why_content">
                                    <p> <span>BẢO HÀNH</span><br>
                                        Dịch vụ bảo hành sản phẩm tốt nhất tốt nhất phù hợp</p>
                                   </div>
                           </div>
                           
                        </div>
                    </div>
                </div>
                <!-- END:WHY -->
            </div>
        </section>   
<!-- END:ABOUT-US -->

<!-- BEGIN:NEWS -->
<!-- <div class="container">
                <h2>TIN TỨC</h2>
                <div class="news-cc">
                    <div class="ccnews">   
                        <div class="bg_news">
                            <img src="/images/tin-tuc/tintuc-1.jpg" alt="" class="img-news-o">
                                <div class="news-content">        
                                    <div class="news--list-img">
                                        <div class="img-news-img">
                                            <img src="/images/tintuc-2.jpg" alt="">
                                        </div>
                                        <div class="img-news-img">
                                            <img src="/images/tintuc-3.jpg" alt="">
                                        </div>
                                        <div class="img-news-img">
                                            <img src="/images/tintuc-4.jpg" alt="">
                                            
                                        </div>  
                                    </div>           
                                </div>    
                                <div class="content_text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut deleniti nobis, minima quia a cumque doloribus hic cum, voluptates explicabo, ullam sunt? Deleniti obcaecati adipisci error excepturi culpa inventore quasi!
                                    </p>
                                </div> 
                        </div>  
                                 
                   </div>   
                       
                </div> 
                
            </div> -->
        <section class="news">
            <h2>TIN TỨC</h2>
            <div class="container">
                <div class="divide_news">
                    <div class="widtd_news w-50">
                        <div>
                            <img src="/images/tin-tuc/tintuc-1.jpg" alt="">
                            <div class="content">
                                <h3><a href="">Cách chọn Sofa cho phòng khách nhà bạn thêm phần sang trọng</a></h3>
                                <p>Attention should be paid to every aspect of the sofa such as size, material,
                                     color, style and seam of the sofa, to ensure comfort, durability and aesthetics 
                                     in the living room.</p>
                            </div>
                        </div>
                    </div>
                    <div class="widtd_news w-50">
                        <div class="news-item">
                            <div>
                                <img src="/images/tin-tuc/tintuc-1.png" alt="">
                            </div>
                            <div class="content_item">
                                <h4><a href="">Trang trí phòng khách cho thêm năng động</a></h4>
                                <p>Attention should be paid to every aspect of the sofa such as size, 
                                    material, color, style and seam of the sofa, to ensure comfort, 
                                    durability and aesthetics in the living room.</p>
                            </div>
                        </div>
                        <div class="news-item">
                            <div>
                                <img src="/images/tin-tuc/tintuc-1.png" alt="">
                            </div>
                            <div class="content_item">
                                <h4><a href="">Cập nhật xu hướng phòng khách phong cách đơn giản</a></h4>
                                <p>Attention should be paid to every aspect of the sofa such as size, 
                                    material, color, style and seam of the sofa, to ensure comfort, 
                                    durability and aesthetics in the living room.</p>
                            </div>
                        </div>
                        <div class="news-item">
                            <div>
                                <img src="/images/tin-tuc/tintuc-1.png" alt="">
                            </div>
                            <div class="content_item">
                                <h4><a href="">Cách chọn Sofa cho phòng khách nhà bạn thêm phần sang trọng</a></h4>
                                <p>Attention should be paid to every aspect of the sofa such as size, 
                                    material, color, style and seam of the sofa, to ensure comfort, 
                                    durability and aesthetics in the living room.</p>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="news_button">
                                <button>XEM THÊM --></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BEGIN:PARTNER -->
        <div class="partner">
            <h2>ĐỐI TÁC</h2>       
                <ul class="img_partner">
                    <li class="partner_content"><img src="/images/doi-tac/marvella.png" alt=""></li>
                    <li class="partner_content"><img src="/images/doi-tac/melissa.png" alt=""></li>
                    <li class="partner_content"><img src="/images/doi-tac/muong-thanh.png" alt=""></li>
                    <li class="partner_content"><img src="/images/doi-tac/sheraton.png" alt=""></li>
                    <li class="partner_content"><img src="/images/doi-tac/sunrise-sapa.png" alt=""></li>
                    <li class="partner_content"><img src="/images/doi-tac/the-coffee-house.png" alt=""></li>
                    <li class="partner_content"><img src="/images/doi-tac/vinpearl.png" alt=""></li>
                </ul>
        </div>
        </section> 
        <!-- END:NEWS -->

        
         <!-- END:PARTNER -->
         <section class="contactt">
            <div>
                <img src="/images/lienhe-bg.jpg" alt="" class="contact_back">
                <div class="contentt">
                    <!-- <p>Trải nghiệm dịch vụ <br>
                       cùng Hoàng Hoan ngay</p> -->
                </div>
            </div>
         </section>
    </main>

    <!-- BEGIN: footer -->
    <footer>
        <div class="container">
            <div class="infor">
                <div class="title">
                    THÔNG TIN CHUNG
                </div>
                <ul class="list-infor">
                    <li style="font-size: 1.2rem; font-family:'font-medium' ;"></i>CÔNG TY THHH HOANG HOAN</li>
                    <li><i class="fa-solid fa-phone"></i>&nbsp;0828345288</li>
                    <li><i class="fa-solid fa-envelope"></i>&nbsp;tienanh@gmail.com</li>
                    <li><i class="fa-solid fa-location-dot"></i> &nbsp;Chiêm hóa, Tuyên Quang</li>
                </ul>
            </div>
            <div class="about-us">
                <div class="title">
                    VỀ CHÚNG TÔI         
                </div>
                <ul class="list-pages">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">sản phẩm</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Đối tác</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="title">
                   KẾT NỐI VỚI CHÚNG TÔI
                </div>
                <ul>
                    <li>
                        <div>
                            <img src="/images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="/images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="/images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
     <!-- END: footer -->
</body>
</html>