<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/news/news.css">
    <link rel="stylesheet" href="/css/news/news_reponsive.css">
</head>
<body>
    <section class="news">
        <div class="news-box">
            <div class="row">
               <div class="note">
                    <h1>TIN TỨC</h1>
               </div>
                <div class="news-img">
                    <div class="news-item">
                       <div>
                            <img src="/images/tintuc-4.png" alt="">
                       </div>
                        <div>
                            <h2><a href="">NGẤT NGÂY VỚI TOP 10 MẪU NỘI THẤT CHUNG CƯ 1 PHÒNG NGỦ ĐẸP</a></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Facilis voluptate at cum. Exercitationem sed, rerum 
                             delectus ducimus minus magni tempore deleniti accusantium, 
                             porro ex totam voluptatem architecto itaque dolor repudiandae.
                        </p>
                        </div>
                    </div>

                    <div class="news-item">
                        <div>
                             <img src="/images/tintuc-6.png" alt="">
                        </div>
                        <div>
                            <h2><a href="">TUYỆT CHIÊU THIẾT KẾ CHUNG CƯ MINI 2 PHÒNG NGỦ SIÊU ĐẸP</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum 
                                delectus ducimus minus magni tempore deleniti accusantium, 
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                           </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div>
                             <img src="/images/tintuc-6.png" alt="">
                        </div>
                        <div>
                            <h2><a href="">TUYỆT CHIÊU THIẾT KẾ CHUNG CƯ MINI 2 PHÒNG NGỦ SIÊU ĐẸP</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum 
                                delectus ducimus minus magni tempore deleniti accusantium, 
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                           </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div>
                             <img src="/images/tintuc-6.png" alt="">
                        </div>
                        <div>
                            <h2><a href="">TUYỆT CHIÊU THIẾT KẾ CHUNG CƯ MINI 2 PHÒNG NGỦ SIÊU ĐẸP</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum 
                                delectus ducimus minus magni tempore deleniti accusantium, 
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                           </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div>
                             <img src="/images/tintuc-6.png" alt="">
                        </div>
                        <div>
                            <h2><a href="">TUYỆT CHIÊU THIẾT KẾ CHUNG CƯ MINI 2 PHÒNG NGỦ SIÊU ĐẸP</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum 
                                delectus ducimus minus magni tempore deleniti accusantium, 
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                           </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div>
                             <img src="/images/tintuc-6.png" alt="">
                        </div>
                        <div>
                            <h2><a href="">TUYỆT CHIÊU THIẾT KẾ CHUNG CƯ MINI 2 PHÒNG NGỦ SIÊU ĐẸP</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum 
                                delectus ducimus minus magni tempore deleniti accusantium, 
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                           </p>
                        </div>
                    </div>

                   
                    
                </div>
               <div>
                <button><a href="">1</a></button>
                <button><a href="">2</a></button>
                <button><a href="">3</a></button>
                <button><a href="">4</a></button>
                <button>>></button>
               </div>
            </div>
        </div>    
        
</section>
<script src="../JS/news.js"></script>

<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</body>
</html>