<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>partner</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/partner/partner_reponsive.css">
    <link rel="stylesheet" href="/css/partner/partner.css">
   
</head>
<body>
    <section class="partner">
            <div class="container">
                <div class="partner-box">
                    <div class="note">
                        <h1>ĐỐI TÁC</h1>
                    </div>

                    <div class="partner-img">
                        <div class="partner-item">
                            <div class="partner-logo">
                                <img src="/images/doi-tac/vinpearl.png" alt="">
                            </div>
                            <div class="partner-content">
                                <h2><a href="">CÔNG TY CỔ PHẦN VINPEAR</a></h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Repellendus eligendi recusandae sapiente dolore laboriosam
                                     ad dignissimos, deserunt cumque nihil facilis. Magnam 
                                     sint earum consequatur quidem adipisci deserunt similique 
                                     tempore maiores.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="partner-img">
                        <div class="partner-item">
                            <div class="partner-logo">
                                <img src="/images/doi-tac/muong-thanh.png" alt="">
                            </div>
                            <div class="partner-content">
                                <h2><a href="">TẬP ĐOÀN KHÁCH SẠN MƯỜNG THANH</a></h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Repellendus eligendi recusandae sapiente dolore laboriosam
                                     ad dignissimos, deserunt cumque nihil facilis. Magnam 
                                     sint earum consequatur quidem adipisci deserunt similique 
                                     tempore maiores.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="partner-img">
                        <div class="partner-item">
                            <div class="partner-logo">
                                <img src="/images/doi-tac/sheraton.png" alt="">
                            </div>
                            <div class="partner-content">
                                <h2><a href="">SHERATON HANOI HOTEL</a></h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Repellendus eligendi recusandae sapiente dolore laboriosam
                                     ad dignissimos, deserunt cumque nihil facilis. Magnam 
                                     sint earum consequatur quidem adipisci deserunt similique 
                                     tempore maiores.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="partner-img">
                        <div class="partner-item">
                            <div class="partner-logo">
                                <img src="/images/doi-tac/the-coffee-house.png" alt="">
                            </div>
                            <div class="partner-content">
                                <h2><a href="">THE COFFEE HOUSE</a></h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Repellendus eligendi recusandae sapiente dolore laboriosam
                                     ad dignissimos, deserunt cumque nihil facilis. Magnam 
                                     sint earum consequatur quidem adipisci deserunt similique 
                                     tempore maiores.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="partner-img">
                        <div class="partner-item">
                            <div class="partner-logo">
                                <img src="/images/doi-tac/marvella.png" alt="">
                            </div>
                            <div class="partner-content">
                                <h2><a href="">MARVELLA HOTEL NHA TRANG</a></h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Repellendus eligendi recusandae sapiente dolore laboriosam
                                     ad dignissimos, deserunt cumque nihil facilis. Magnam 
                                     sint earum consequatur quidem adipisci deserunt similique 
                                     tempore maiores.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>
</body>
</html>