*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #222;
    font-family:'font-medium' ;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

header nav .menu .menu-item{
    position: relative;
    line-height: 2rem;
}
header nav .menu .menu-item:first-child::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bd945f;
    height: 0.3rem;
    width: 60%;
}
header nav .menu .menu-item:hover::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bd945f;
    height: 0.3rem;
    width: 60%;
}

header nav{
    display: flex;
    align-items: center;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
}

header nav .menu{
    display: flex;
    width: calc(7*100%/12);
    justify-content: space-between;
}
/* main */
/* 1.banner */
main .container .banner-img img{
    width: 100%;
}
main .banner .container{
    position: relative;
}
main .banner .container .introduction{
    position: absolute;
    left: 0; right: 0; top: 10%;
    width: calc(12*100%/18);
    margin: auto;
}
main .banner .container .introduction h1{
    font-family:'font-ultra' ;
    font-size: 2.3rem;
}
main .banner .container .introduction p{
    width: 50%;
    text-align: justify;
    margin: 2rem 0;
}
main .banner .container .introduction button{
    border: none;
    background-color: #bd945f;
    padding: 1rem 2rem;
    color: #fff;
    font-family:'font-ultra' ;
}
/* 2.product */
main .product{
    background-color: #f3f3f3;
    padding-bottom: 2rem;
}
main .title h1{
    text-align: center;
    margin-top: 5rem;
    font-family:'font-ultra' ;
    color: #2c2e53;
    font-size: 1.4rem;
}
main .product .container{
    width: calc(12*100%/18);
    margin: auto;
}
main .product .container .category{
    padding-left: 7.5rem;
    background-color: #fff;
    position: relative;
    margin-top: -4rem;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
}
main .product .product-hot{
    width: 100%;
    justify-content: center;
}
main .product .container .category .slider p{
    text-align: center;
}
main .product .container .category .slier img{
    margin-top: -10rem;
    width: 80%;
}

main .container .product-hot h2{
    text-align: center;
    margin-top: 6rem;
    font-size: 1.5rem;
}
main .container .product-hot .product-box{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
main .container .product-hot .product-box img{
   width: 90%;
}
main .container .product-hot .product-box p{
   font-size: 10px;
   text-align: center;
   font-family:'font-ultra' ;
}
 .btn-product {
    border: 0px;
    background-color: #f3f3f3;
 }
 .product-item{
    padding-left: 1rem;
 }
/* stars-ring */
div.stars {
    margin-left: 4.4rem;
    display: inline-block;
}
   
input.star { display: none; }
   
label.star {
    float: right;
    font-size: 15px;
    color: #444;
    transition: all .2s;
}
   
input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}
  
label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
main .title{
        margin-bottom: 1rem;
        position: relative;
}
main .title::after{
        content: "";
        position: absolute;
        left: 43%;
        right: 0;
        bottom: 0;
        background-color: #bd945f;
        height: 0.2rem;
        width: 7rem;
}
/* 3.about-us */
.backgourd-about{
    position: absolute;
    z-index: -1 ;
    width: 100%;
    height: 100%;
    background-image: url(/images/ve-chung-toi/bg-about-us.jpg);
    background-size: cover;
    filter: brightness(40%);
}
.container h2{
    padding: 20px;
    font-size: 23px;
    text-align: center;
    margin-top: 2rem;
    color: #fff;
}
.ccabout{
    width: calc(12*100%/18);
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.img-we-one{
    width: 45%;
}
.img-we-one img{
    width: 100%;
}
.about-content{
    width: 45%;
}
.about-content p{
    color: #fff;
    font-size: 12px;
    text-align: justify;
}
.about--list-img{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 12px;
}
.img-we-img{
    width: 23%;
}
.img-we-img img{
    width: 100%;
}

/*Why*/
.why{
    display: flex;
    flex-wrap: wrap;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
}
.why_item{
    width: calc(50% - 2rem);
    margin: .5rem 1rem;
}
.why_img{
    display: flex;
    background-color: #fff;
    margin-top: 1rem;
    width: 100%;
}
.why_img span{ 
   color: #bd945f;
}

.why_img p {
    color: #222;
    font-size: 13px;
    padding-top: 1.5rem;
}


/* .list_frist{
    display: flex;
    width: 100%;

}
.list_secont{
    display: flex;
    margin-top: 2%;
}
.frist_item{
    width: 35%;
    background-color: #fff; 
    
}
.secont_item{
    background-color: #fff;
    margin-left: 2rem;
    width: 35%;
}
.conten{
    display: flex;
    align-items: center;
}
.conten p{
    font-size: 11px;
}
.content_letter{
    color: #bd945f;
    font-family:'font-ultra' ;
}
.wecome-list{
    margin-top: 2rem;
    padding-left: 20%;
    padding-bottom: 5rem;
} */

/* 4.news */
.w-50{
    width: 70%;
}
.news .container{
    width: calc(12*100%/18);
    margin: auto;
}
.news h2{
    padding: 20px;
    font-size: 23px;
    text-align: center;
    margin-top: 10rem;
    color: #070707;
}

.news img{
    width: 100%;
 
}
.divide_news{

    display: flex;
}

.news-item{
    width: 90%;
    display: flex;
    padding-left: 2rem;
    margin-bottom: 10px;
}
.content_item{
    padding-left: 2rem; 
}
.content_item p{
    text-align: justify;
}
.content_item h4 a{
    color: #bd945f;
}
.news .content{
    position: relative;
    bottom: 8rem;
    background-color: #bd945f;
    text-align: justify;
    padding: 10px 20px;
}
.content h3 a{
    font-family:'font-ultra' ;
    font-size: 1.3rem;
    color: #fff;
}
.news_button button{
    border: 0px;
    background-color: #fff;
    color: #bd945f;
    padding-top: 2rem;
}
/* .news .container h2{
    padding: 20px;
    font-size: 23px;
    text-align: center;
    margin-top: 2rem;
    color: #070707;
}
.ccnews{
    width: calc(12*100%/18);
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.bg_news{
    display: flex;
    width: 100%;
}

.img-news-o{
    width: 50%;
}
.news-content{
    margin-left: 1rem;
}
.content_text{
    margin-left: 1rem;
} */

/* partner */
.partner{
    margin-top: -12rem;
}
.partner h2{
    text-align: center;
    font-size: 23px;
}
.img_partner{
    width: calc(12*100%/18);
    margin: auto;
}
.img_partner ul{
    display: flex;
    text-align: center;
}

/* contactt */
.backgourd_contactt img{
    width: 100%;
    
}
.chair img{
    position: absolute;
    width: 15%;
    top: 212rem;
}
.contactt .container{
    width: calc(12*100%/18);
    margin: auto;
    display: flex;
}
.content_contact{
    position: absolute;
    top: 222rem;
    left: 45rem;
    display: flex;
    
}
/* footer */
footer{
    margin-top: auto;
    background-color: #363636;
}

footer .container{
    display: flex;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
    line-height: 1.7rem;
    padding: 3rem 0;
}

footer li, footer a, footer .title, footer i{
    color: #fff;
}
footer li, footer a {
    font-family:'font-thin' ;
}
footer .title{
    margin-bottom: 1rem;
    position: relative;
}
footer .title::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    height: 0.2rem;
    width: 5rem;
}

footer .contact ul li:first-child{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

footer .contact ul li:last-child div{
   width: 10rem;
}

footer .contact ul li div{
    width: 3rem;
    margin-right: 1rem;
}

footer .contact ul li div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}