body{
    /* background-image:url(/Day03/img/background.jpg) ; */
}
.clearfix{
    overflow: hidden;
    clear: both;
}
.clearfix nav ul li{
    list-style-type: none;
}
header{
    background: #fff;
}
.fixwidth{
    width: 940px;
    margin: 0 auto;
}
.topnav{
    width: 1200px;
    margin: 0 auto;
    padding: 34px 0;
}
#logo{
    width: 200px;
    float: left;
}
a{
    text-decoration: none;
}
#logo a{
    color: black;
    font-family: Lato-Bold;
    font-size: 25px;
}
#logo a span{
    color: #f06c64;
}
.topnav nav{
    float: right;
    width: 570px;
    
}
.topnav nav ul li{
    float: left;
}
.topnav nav ul li a{
    color: black;
    display: block;
    padding-top: 10px;
    padding-right: 20px;
    font-family: Lato-Bold;
    font-size: 20px;
}
.selected,
.topnav nav ul li a:hover{
    color: #f06c64;
}
#cc{
    background: #fff;
    padding: 50px 0;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.banner img{
    float: left;
    margin-left: 130px;
}
.text p{
    color: #232020;
    position: absolute;
    top: 92rem;
    padding-left: 300px;
    
}
.text h3{
    color: #232020;
    position: absolute;
    top: 90rem;
    padding-left: 300px;
}
.text a{
    color: #232020;
    position: absolute;
    top: 98rem;
    padding-left: 300px;
   
}
.phone{
     font-size: 20px;
     margin-left: 150px; 
     width: 30%;
     border: 2px solid greenyellow;
     position: absolute;
     top: 130rem;
     padding-left: 300px;
}
.mySlides {
    /* display:none; */
    width:100%
} 
.button-left{
    left:1%; 
    font-size:20px
} 
.button-right{
    right:1%; 
    font-size:20px 
} 
.image-button{
    border:none;
    display:inline-block;
    padding:10px;
    height:50px;
    vertical-align:middle;
    overflow:hidden; 
    color:#fff;
    background:#000;
    position:absolute;
    top:calc(50% - 25px); 
    opacity:0.5;
} 
.image-button:hover{
    color:#000;
    background-color:#ccc;
} 
.display-container{
    position:relative}

