@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
<section class="banner">
    <div class="container">
        <div class="banner-box">
            <div class="banner-item">
                <div class="banner-img">
                    <img src="/img/backBanner.png" alt="">
                </div>
                <div class="introduction">
                    <h2 style="color: #2c2e53;">ACATEA</h2>
                    <h2 style="color: #69922b;">Trà thảo dược - Nâng tầm cuộc sống</h2>
                    <p>
                        Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát
                        của trà thảo dược và vị đậm đà của trà cúc chi và
                        đông trùng hạ thảo.
                    </p>
                    <button>THỬ NGAY</button>
                </div>
            </div>
            <div class="banner-item">
                <div class="banner-img">
                    <img src="/img/backBanner.png" alt="">
                </div>
                <div class="introduction">
                    <h2 style="color: #2c2e53;">ACATEA</h2>
                    <h2 style="color: #69922b;">Trà thảo dược - Nâng tầm cuộc sống</h2>
                    <p>
                        Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát
                        của trà thảo dược và vị đậm đà của trà cúc chi và
                        đông trùng hạ thảo.
                    </p>
                    <button>THỬ NGAY</button>
                </div>
            </div>
            <div class="banner-item">
                <div class="banner-img">
                    <img src="/img/backBanner.png" alt="">
                </div>
                <div class="introduction">
                    <h2 style="color: #2c2e53;">ACATEA</h2>
                    <h2 style="color: #69922b;">Trà thảo dược - Nâng tầm cuộc sống</h2>
                    <p>
                        Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát
                        của trà thảo dược và vị đậm đà của trà cúc chi và
                        đông trùng hạ thảo.
                    </p>
                    <button>THỬ NGAY</button>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="product" style="background-color:#f3f3f3">
    <div class="product-box">
        <div class="row">
            <div class="note">
                <h2>PHÒNG KHÁCH</h2>
                <p><a href="">XEM TẤT CẢ</a></p>
            </div>
            <div class="product-img">
                <div class="product-item">
                    <img src="/img/giuong-ngu.png" alt="">
                    <h3>GIƯỜNG NGỦ</h3>

                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>

                    <p><span>Size vừa, trắng sữa</span></p>
                    <p>8.999.000 VNĐ</p>
                </div>

                <div class="product-item">
                    <img src="/img/ke-dau-giuong.png" alt="">
                    <h3>KỆ ĐẦU GIƯỜNG</h3>

                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>

                    <p><span>2 ngăn, gỗ lim</span></p>
                    <p>8.999.000 VNĐ</p>
                </div>
                <div class="product-item">
                    <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                    <h3>BÀN UỐNG NƯỚC 2</h3>

                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>

                    <p><span>Size vừa, nâu vân gỗ</span></p>
                    <p>8.999.000 VNĐ</p>
                </div>
                <div class="product-item">
                    <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                    <h3>KỆ TV</h3>

                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>

                    <p><span>4 ngăn, gỗ lim</span></p>
                    <p>8.999.000 VNĐ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-box">
        <div class="row">
            <div class="note">
                <h2>PHÒNG KHÁCH</h2>
                <p><a href="">XEM TẤT CẢ</a></p>
            </div>
            <div class="product-img">
                <div class="product-item">
                    <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                    <h3>GIƯỜNG NGỦ</h3>

                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>

                    <p><span>Size vừa, trắng sữa</span></p>
                    <p>8.999.000 VNĐ</p>
                </div>

                <div class="product-item">
                    <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                    <h3>KỆ ĐẦU GIƯỜNG</h3>

                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>

                    <p><span>2 ngăn, gỗ lim</span></p>
                    <p>8.999.000 VNĐ</p>
                </div>
                <div class="product-item">
                    <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                    <h3>BÀN UỐNG NƯỚC 2</h3>

                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>

                    <p><span>Size vừa, nâu vân gỗ</span></p>
                    <p>8.999.000 VNĐ</p>
                </div>
                <div class="product-item">
                    <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                    <h3>KỆ TV</h3>

                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>

                    <p><span>4 ngăn, gỗ lim</span></p>
                    <p>8.999.000 VNĐ</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BEGIN: footer -->
<footer>
    <div class="container">
        <div class="infor">
            <div class="title">
                THÔNG TIN CHUNG
            </div>
            <ul class="list-infor">
                <li style="font-size: 1.2rem; font-family:'font-medium' ;"></i>CÔNG TY THHH HOANG HOAN</li>
                <li><i class="fa-solid fa-phone"></i>&nbsp;0828345288</li>
                <li><i class="fa-solid fa-envelope"></i>&nbsp;tienanh@gmail.com</li>
                <li><i class="fa-solid fa-location-dot"></i> &nbsp;Chiêm hóa, Tuyên Quang</li>
            </ul>
        </div>
        <div class="about-us">
            <div class="title">
                VỀ CHÚNG TÔI
            </div>
            <ul class="list-pages">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">sản phẩm</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Đối tác</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>
        <div class="contact">
            <div class="title">
                KẾT NỐI VỚI CHÚNG TÔI
            </div>
            <ul>
                <li>
                    <div>
                        <img src="/images/facebook.png" alt="">
                    </div>
                    <div>
                        <img src="/images/zalo.png" alt="">
                    </div>
                    <div>
                        <img src="/images/mail.png" alt="">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/images/xacnhan-bocongthong.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- END: footer -->
<!-- slick -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>

    $(".banner-box").slick({
        dots: true,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 2000,
        slidesToShow: 1,
        slidesToScroll: 1,
    });
    $(document).ready(function () {
        $('.slide-product').slick();

    });
    new WOW().init();

    function handleclickMenu() {
        document.querySelector(".menu").classList.toggle("responsive-menu")
    }
</script>
