@{
}
<!-- Begin: footer  -->
<footer>
    <div class="containers">
        <div>
            <div class="title">
                <span>THÔNG TIN CHUNG</span>
            </div>
            <ul class="infor">
                <li style="font-size: 1.37rem; font-family: 'font-medium';">CÔNG TY TNHH HOÀNG HOAN</li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <span>&nbsp;09999.999.999</span>
                </li>
                <li>
                    <i class="fa-regular fa-envelope"></i>
                    <span>&nbsp;cskh@hoanghoan.vn</span>
                </li>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>&nbsp;Số 1 Nguyễn Trãi, Thanh Xuân, Hà Nội</span>
                </li>
            </ul>
        </div>
        <div>
            <div class="title">
                <span>VỀ CHÚNG TÔI</span>
            </div>
            <ul class="about-us">
                <li>
                    <a>Giới thiệu</a>
                </li>
                <li>
                    <a>Sản phẩm</a>
                </li>
                <li>
                    <a>Tin tức</a>
                </li>
                <li>
                    <a>Đối tác</a>
                </li>
                <li>
                    <a>Liên hệ</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="title">
                <span>KẾT NỐI VỚI CHÚNG TÔI</span>
            </div>
            <ul class="contact">
                <li class="d-flex mb-3">
                    <div class="img-social">
                        <img src="../images/facebook.png" alt="">
                    </div>
                    <div class="img-social">
                        <img src="../images/zalo.png" alt="">
                    </div>
                    <div class="img-social">
                        <img src="../images/mail.png" alt="">
                    </div>
                </li>
                <li>
                    <img src="../images/xacnhan-bocongthong.png" alt="">
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- End: footer  -->