* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    color: #333;
  }
  #menu ul {
    background: orange;
    background-color: orange;
    list-style-type: none;
    text-align: center;
    border-radius: 40px;
    
  }
  #menu li {
    /* color: #f1f1f1; */
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
  }
  #menu a {
    text-decoration: none;
    /* color: #fff; */
    display: block;
  }
  #menu a:hover {
    /* background: #F1F1F1; */
    color: #333;
  }