@model IEnumerable<Lab06_1.Models.Product>

<div>
    @foreach (var product in Model)
    {
        <div col-md-4>
            <div class="thumbnail">
                <img src="@product.Image" alt="" style="width:5rem">
                <div class="caption">
                    <h3>@product.Name</h3>
                    <p class="text-decoration-line-through text-muted">
                        Giá: @product.Price
                    </p>

                    <p>
                        Giá: @product.SalePrice
                    </p>
                </div>
            </div>
        </div>
    }
</div>