@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@* @model Lab09_CartPay.Models.Customer *@
@{
    ViewData["Title"] = "Login infomation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/LoginCus/LoginCus.css" asp-append-version="true" />
<style>
    form{
        border:1px solid #ccc;
        borde-radius:5px;
        background:#ccc;
        padding:1rem;
    }
</style>
@{
    if(HttpContextAccessor.HttpContext.Session.GetString("Member") != null){
        <div class="row">
            <h2 class="text-center my-2 py2">Welcome to, @ViewBag.Customer.Name </h2>
        </div>
    }else
    {
        <div class="container" id="container">
            <div class="form-container sign-up">
                <form asp-action="Registy" asp-controller="CustomerMember" method="post">
                    <h1>Create Account</h1>
                    <span>or use your email for registeration</span>
                    <input type="text" class="form-control" id="Name" name="Name" placeholder="FullName..." />
                    <input type="text" class="form-control" id="USERNAME" name="USERNAME" placeholder="UserName..." />
                    <input type="email" class="form-control" id="EMAIL" name="EMAIL" placeholder="name@example.com" />
                    <input type="password" class="form-control" id="PASSWORD" name="PASSWORD" />
                    <button asp-action="Registry">Sign Up</button>
                    <span style="color:red">@TempData["errorRegistry"]</span>
                </form>
            </div>
            <div class="form-container sign-in">
                <form asp-action="Login" asp-controller="CustomerMember" method="post">
                    <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your email password </span>
                    <input type="email" class="form-control" id="UserOrEmail" name="UserOrEmail"
                           placeholder="name@example.com / username" />
                    <input type="password" placeholder="Password" class="form-control" id="password" name="password" />
                    <a href="#">Forget Your Password?</a>
                    <button>Sign In</button>
                    <span style="color:red">@TempData["errorLogin"]</span>
                           
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Welcome back!</h1>
                        <p>Hãy đăng nhập tài khoản của bạn</p>
                        <button class="hidden" id="login">Sign in</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hello, Friend</h1>
                        <p>Đăng ký tài khoản ngay</p>
                        <button class="hidden" id="register">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script>
            const container = document.getElementById('container');
            const loginBtn = document.getElementById('login');
            const registerBtn = document.getElementById('register');




            registerBtn.addEventListener('click', () => {
                container.classList.add("active");
            });

            loginBtn.addEventListener('click', () => {
                container.classList.remove("active");
            });
        </script>
    }
}

