/* header */
header nav .response-menu{
  display: block;
  position: absolute;
  left: 0;
  top: 79%;
  width: 100%;
  z-index: 3;
  text-align: left;
  background-color: #fff;
}
header nav .menu{
  display: none;
}
header{
  position: relative;
}
header nav .response-menu{
  display: flex;
  position: absolute;
  right: 18.4rem;left: auto;
  top: 55%;
  width: 30%;
  z-index: 3;
  text-align: center;
}
.menu-item a{
  list-style: none;
}
header nav .response-menu{
  list-style: none;
  display: block;
  position: absolute;
  left: 0;
  top: 76%;
  width: 100%;
  z-index: 3;
  text-align: left;
  background-color: #fff;
}
    .partner-content a{
        font-size: 0.6rem;
     }
    .partner-content p{
        font-size: 0.8rem;
     }
     .partner-logo {
        width: 94%;
        
     } 

 
 /* Small devices (landscape phones, 576px and up)  */
 @media (min-width: 576px) { 
    .partner-logo {
        width: 70%;
        padding:0 2.3rem ;
     } 
  }
 
  /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
    .partner-content a{
        font-size: 1rem;
     }
    .partner-content p{
        font-size: 0.8rem;
     }
    .partner-item {
        margin: 1rem 4px;
     }
    .partner-item {
        display: block;
    }
    .partner-logo {
        width: 46%;
        padding: 1rem 7.6rem;
     }  
  }
 
  /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) { 
    .partner-content a{
        font-size: 1rem;
    }
    .partner-content p{
        font-size: 0.8rem;
    }
    .partner-item {
        margin: 1rem 4px;
    }
    .partner-item {
            display: block;
    }
    .partner-item {
        display: flex;
    }
    .partner-logo {
        width: 40%;
        padding: 0 0;
     }
  }
 
  /* X-Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) { 
   header nav .response-menu{
      list-style: none;
      display: flex;
      position: absolute;
      right: 20rem;left: auto;
      top: 54%;
      width: 50%;
      z-index: 3;
      text-align: center;
      background-color: #f3f3f3;
   }
   .partner-content a{
    font-size: 1.3rem;
   }
   .partner-content p{
    font-size: .9rem;
   }
   .partner-item {
    margin: 1rem 4px;
    }
    .partner-item {
        margin: 2rem 4px;
        text-align: justify;
        display: flex;
    }
    .partner-logo {
        width: 40%;
     }
  }
 
  /* XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) {
   header nav .response-menu{
      display: flex;
      text-decoration: none;
      right: 20rem;left: auto;
      top: 54%;
      width: 50%;
      background-color: #f3f3f3;
   }
    .container{
        width: calc(12*100%/18);
        margin: auto;
        margin-top: 3rem;
     }
    
     .partner-logo img{
        width: 100%;
     }
     .partner-logo {
        width: 40%;
     }
    .partner-box{
         padding: 1.5rem 2rem;
         background-color: #fff;
         position: relative;
         margin: 50px 0;
     }
     .note{
        text-align: center;
     }
     .note a{
         color: black;
         text-decoration: none;
     }
     .partner-item {
         margin: 2rem 4px;
         text-align: justify;
         display: flex;
     }
     .partner-content{
        padding: 0 1rem;
     }
     .partner-content h2{
        margin: 1rem 0;
        text-decoration: none;
     }
     .partner-content a{
        font-size: 1.6rem;
        text-decoration: none;
        color: #bd945f;
     }
     .partner-content p{
        font-size: 1rem;
       }
       
         /* footer */
   footer{
      margin-top: auto;
      background-color: #363636; 
   }
   footer li, footer span, footer i, footer a{
      color: #fff;
      font-family: 'font-thin';
      cursor: pointer;
   }

   footer li:hover, footer span:hover, footer i:hover, footer a:hover{
      color: #bd945f;
   }

   footer .container .title {
   margin-bottom: 1.3rem;
   position: relative;
   }
   footer .container .title::after{
      content: "";
      position: absolute;
      left: 0;right: 0;
      bottom: 0;
      height: 0.2rem;
      width: 6rem;
      background-color: #fff;

   }
   footer ul {
      list-style: none;
      padding: 0!important;
   }

   footer .container .title span{
      font-family: 'font-medium';
   }


   footer .contact .img-social{
      width: 2rem;
      margin-right: 1rem;
   }

   footer .contact img{
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   footer .contact li:last-child{
      width: 11rem;
   }
   footer .footer{
      display: flex;
   }
  }